<!DOCTYPE html>
<html>
<head>
<title>Knock Knock</title>
</head>
<body>
<p>You tell it jokes. It tells you jokes. It's fun!</p>
<h2><img src="knock64.png">&nbsp;</h2>
<form action="/rate" enctype="application/json" method="post">
Knock Knock<br>
 &nbsp;&nbsp;Who's there?<br>
<%= setupParam %><br>
 &nbsp;&nbsp;Setup who?<br>
<b><%= punchParam %></b><br>
</form>
<p>Optional: Rate this joke! <!-- If you had an account you could rate this joke -->
<table><tr>
<td><form action="/rate" enctype="application/json" method="post">
<input type="image" src="knock64.png">
<input type="hidden" value=1 name="rating" />
<input type="hidden" value="<%= jokeParam %>" name="jokeToken" />
</form></td>
<td><form action="/rate" enctype="application/json" method="post">
<input type="image" src="knock64.png">
<input type="hidden" value=2 name="rating" />
<input type="hidden" value="<%= jokeParam %>" name="jokeToken" />
</form></td>
<td><form action="/rate" enctype="application/json" method="post">
<input type="image" src="knock64.png">
<input type="hidden" value=3 name="rating" />
<input type="hidden" value="<%= jokeParam %>" name="jokeToken" />
</form></td>
<td><form action="/rate" enctype="application/json" method="post">
<input type="image" src="knock64.png">
<input type="hidden" value=4 name="rating" />
<input type="hidden" value="<%= jokeParam %>" name="jokeToken" />
</form></td>
<td><form action="/rate" enctype="application/json" method="post">
<input type="image" src="knock64.png">
<input type="hidden" value=5 name="rating" />
<input type="hidden" value="<%= jokeParam %>" name="jokeToken" />
</form></td>
</tr></table>
<table>
<tr><td>
<form action="/joke" enctype="application/json" method="post">
<input type="hidden" name="user" value=<%= userParam %> />
<input type="submit" value="Knock Knock" /></form>
</td><td>
<form action="/telljoke" enctype="application/json" method="post">
<input type="hidden" name="user" value=<%= userParam %> />
<input type="submit" value="Hear a Joke" /></form>
</td><td>
<form action="/logout" enctype="application/json" method="post">
<input type="hidden" name="user" value=<%= userParam %> />
<input type="submit" value="Log Out" /></form>
</form>
</tr>
</table>
</p>
</body>
</html>
