<!DOCTYPE html>
<html>
<head>
<title>Knock Knock</title>
</head>
<body>
<p>You tell it jokes. It tells you jokes. It's fun!</p>
<h2><img src="knock64.png">&nbsp;</h2>
<form action="/tellpunchline" enctype="application/json" method="post">
Knock Knock<br>
 &nbsp;&nbsp;Who's there?<br>
<b><%= setupParam %></b><br>
<input type="submit" value="<%= setupParam %> who?"/>
<input type="text" value="<%= jokeParam %>" name="jokeToken" />
<input type="text" value="<%= setupParam %>" name="setup" />
<input type="text" value="<%= punchParam %>" name="punchline" />
<input type="text" value="<%= authorParam %>" name="author" />
</form>
</body>
</html>
